In [88]:
#Dictionary

In [89]:
d={}

In [90]:
type(d)

dict

In [91]:
#d={'key':"value"} special characters not allowed and _ also not allowed in the key
# True/False is allowed in the key

In [92]:
d1={'name':"sunny",'email':"sunny@gmail.com",'number':8812055553,'name':'sourov'}

In [93]:
d2={235:'sunny',True:145255}

In [94]:
d1['name']

'sourov'

In [95]:
d2[235]

'sunny'

In [96]:
d2[1]
# here 1 represents true

145255

In [97]:
d3={'Company':'Pwskills','course':['web devolopment','Mobile repair','C++ Programming','DSA']}

In [98]:
d3['course'][2]

'C++ Programming'

In [99]:
d4={'number':[12,13,14,15],'assingment':(1,2,3,4,5),'launch date':{23,12,2023},'Class time':{'web_dev':'8_pm','Java':'9_pm','python':'10_pm'}}

In [100]:
d4['Class time']['Java']

'9_pm'

In [101]:
# to add new key to dictionary
d4['mentor']=['sunny','sourov','ajay','bijoy','akansha']

In [102]:
d4

{'number': [12, 13, 14, 15],
 'assingment': (1, 2, 3, 4, 5),
 'launch date': {12, 23, 2023},
 'Class time': {'web_dev': '8_pm', 'Java': '9_pm', 'python': '10_pm'},
 'mentor': ['sunny', 'sourov', 'ajay', 'bijoy', 'akansha']}

In [103]:
#to delete key in dictionary
del d4['number']

In [104]:
d4

{'assingment': (1, 2, 3, 4, 5),
 'launch date': {12, 23, 2023},
 'Class time': {'web_dev': '8_pm', 'Java': '9_pm', 'python': '10_pm'},
 'mentor': ['sunny', 'sourov', 'ajay', 'bijoy', 'akansha']}

In [105]:
# keys in the dictionary
d4.keys()

dict_keys(['assingment', 'launch date', 'Class time', 'mentor'])

In [106]:
# to get in list form use list function
list(d4.keys())

['assingment', 'launch date', 'Class time', 'mentor']

In [107]:
# to get all the values from dictionary
d4.values()
# in same way to get in list form use list function
list(d4.values())

[(1, 2, 3, 4, 5),
 {12, 23, 2023},
 {'web_dev': '8_pm', 'Java': '9_pm', 'python': '10_pm'},
 ['sunny', 'sourov', 'ajay', 'bijoy', 'akansha']]

In [108]:
# to get both the key and the value pairs
d4.items()

dict_items([('assingment', (1, 2, 3, 4, 5)), ('launch date', {12, 23, 2023}), ('Class time', {'web_dev': '8_pm', 'Java': '9_pm', 'python': '10_pm'}), ('mentor', ['sunny', 'sourov', 'ajay', 'bijoy', 'akansha'])])

In [109]:
#to delete
d4.pop('assingment')

(1, 2, 3, 4, 5)

If-else
already known to me so just review

In [110]:
marks=int(input('enter your marks'))
if marks >=80:
    print("You are part of A-batch")
elif marks >=60 and marks <80:
    print("You are part of B-batch")
elif marks >=40 and marks <60:
    print("You are part of C-batch")
else:
    print("try again you are fail")

try again you are fail

Loops- few default

In [111]:
l=[2,4,3,3,5,5,8,9]

In [112]:
# For loop
for i in l: # ('i' is a temporary variable)
    print(i)

2
4
3
3
5
5
8
9

In [113]:
# to add 1 in every number
for i in l:
    print(i+1)

3
5
4
4
6
6
9
10

In [114]:
# save result in list
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)

3
5
4
4
6
6
9
10

In [120]:
l2=['sunny','sourov','course','money']

In [121]:
# to capitalize every string
li=[]
for i in l2:
    print(i)
    li.append(i.upper())

sunny
sourov
course
money

In [122]:
li

['SUNNY', 'SOUROV', 'COURSE', 'MONEY']

In [123]:
la=[1,2.5,3,4,8,'sunny','money','honey','sourov']

In [124]:
# separate different types of data
lb=[]
lc=[]
for i in la:
    if type(i)== int or type(i)== float:
        lb.append(i)
    else:
        lc.append(i)

In [125]:
lb

[1, 2.5, 3, 4, 8]

In [126]:
lc

['sunny', 'money', 'honey', 'sourov']